*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;  border: 0; outline: 0;
    vertical-align: baseline; background: transparent;
}
body { line-height: 1.6; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

body {
  font-size: 62.5%;
  text-align: center;
  color: #000000;
	letter-spacing: 0.1em;
}
body {
	letter-spacing: 0.1em;
  font-size: 13px;
  background: #fff;
  color: #121212;
  line-height: 1.5em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
}
.experiment{
  background: #fff767;
  width: 100px;
  height: 100px;
  position: relative;
  left:50px;
  overflow: hidden;
}
.experiment .box{
  width:50px;
  height:100px;
  position: absolute;
}
.experiment #box1{
  transition:2s ease;
  background: #f07fa0;
  left:0px;
}
.experiment #box2{
  transition:2s ease;
  background: #853fff;
  left:50px;
}
.experiment:hover #box1 {
  left:-50px;
  transition:1s ease;
}
.experiment:hover #box2 {
  left: 100px;
  transition:1s ease;
}
.contain{
  width:800px;
  height: 800px;
  background: #000000
}
.logo{
  width:800px;
  height:120px;
  background: #FFFFFF;
  color: #000000;
  position: relative;
}
.logo .logoLetter{
  width:140px;
  height:100px;
  top:10px;
  left:0px;
  position:absolute;
}
.logo .logoLetter .l{
  width: 140px;
}
.logo .logoLetter #Tmain1{
  height:20px;
}
.logo .logoLetter #Tmain2{
  height:80px;
}
.logo .logoLetter #Tmain1 #Tmain11{
  float:left;
  display:inline-block;
  width:56px;
  height:20px;

  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
.logo .logoLetter #Tmain1 #Tmain12{
  float:none;
  display:inline-block;
  width:28px;
  height:20px;
}
.logo .logoLetter #Tmain1 #Tmain13{
  float:right;
  display:inline-block;
  width:56px;
  height:20px;

  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: black;

  border-right-style:solid;
  border-right-width: 2px;
  border-right-color: black;
}

.logo .logoLetter #Tmain2 #Tmain21{
  float:left;
  display:inline-block;
  width:56px;
  height:80px;
}
.logo .logoLetter #Tmain2 #Tmain22{
  float:none;
  display:inline-block;
  width:28px;
  height:80px;

  border-bottom-style:solid;
  border-bottom-width: 3px;
  border-bottom-color: black;

  border-right-style:solid;
  border-right-width: 3px;
  border-right-color: black;
}
.logo .logoLetter #Tmain2 #Tmain23{
  float:right;
  display:inline-block;
  width:56px;
  height:80px;
}









.logo .logoLetter #Hmain1{
  height:40px;
}
.logo .logoLetter #Hmain2{
  height:20px;
}
.logo .logoLetter #Hmain2{
  height:40px;
}
.logo .logoLetter #Hmain1 #Hmain11{
  float:left;
  display:inline-block;
  width:56px;
  height:20px;

  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
.logo .logoLetter #Hmain1 #Hmain12{
  float:none;
  display:inline-block;
  width:28px;
  height:20px;
}
.logo .logoLetter #Hmain1 #Hmain13{
  float:right;
  display:inline-block;
  width:56px;
  height:20px;

  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: black;

  border-right-style:solid;
  border-right-width: 2px;
  border-right-color: black;
}

.logo .logoLetter #Hmain2 #Hmain21{
  float:left;
  display:inline-block;
  width:56px;
  height:80px;
}
.logo .logoLetter #Hmain2 #Hmain22{
  float:none;
  display:inline-block;
  width:28px;
  height:80px;

  border-bottom-style:solid;
  border-bottom-width: 3px;
  border-bottom-color: black;

  border-right-style:solid;
  border-right-width: 3px;
  border-right-color: black;
}
.logo .logoLetter #Hmain2 #Hmain23{
  float:right;
  display:inline-block;
  width:56px;
  height:80px;
}
